
.App {
  display: flex;
  justify-content: space-between;
  background-color: #18191A;
  position: relative;
  max-height: 100vh;
  overflow: auto;
}

.left-sidebar {
  display: flex;
  position: sticky;
  align-self: flex-start;
  top: 0;
}

.facebook-login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F2F5;
  flex-direction: column;
}

.facebook-login-container button {
  background-color: #1877F2;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.facebook-logo-login {
  height: 200px;
}

.search-sticky{
  position: sticky;
  top: 50%;
  left: 50%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5)
}

::-webkit-scrollbar {
  background: #3A3B3C;
}

::-webkit-scrollbar-thumb {
  background: #B0B3B8;
}


.minimize-chathead {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3000;
  cursor: pointer;
}

.minimize-chathead img {
  height: 52px;
  border-radius: 100%;
}

.green-circle-new {
  position: absolute;
  background-color: #31A24C;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  right: 0px;
  bottom: -18px;
  z-index: 2;
  border: 2px solid #18191A;
}

.chatbox-wrapper {
  position: absolute;
  bottom: 0;
  right: 6rem;
  display: flex;
  gap: 5px;
  z-index: 3000;
}

/* .chatbox-container-main {
  position: absolute;
  z-index: 3000;
  width: 100%;
  height: 100vh;
} */

.chatbox-minimize-wrapper {
  position: absolute;
  right: 29px;
  bottom: 92px;
  z-index: 3000;
  gap: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

}