.newsfeed-container  {
  overscroll-behavior: contain
}



.create-story {
  position: relative;
  height: 230px;
  width: 140px;
  background-color: #242526;
  border-radius: 12px;
  cursor: pointer;
  z-index: 100;
  overflow: hidden;
}
.story-section {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;

}
.wrapper {
  margin: 0 auto;
  max-width: 720px;
}

.friends-story {
  position: relative;
  height: 230px;
  width: 140px;
  background-color: #242526;
  border-radius: 12px;
  cursor: pointer;
  z-index: 100;
  overflow: hidden;
}

.friends-story:hover {
  opacity: 0.8;
}

.story-image-uploaded {
  height: 230px;
  width: 140px;
  object-fit: fill;
}

.friends-story p {
  position: absolute;
  bottom: 5px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
  color: #fff;
  margin-bottom: 0;
  text-align: start;
}

.story-image-uploaded:hover {
  transform: scaleX(1.02);
}

.friends-story-user-profile {
  position: absolute;
  height: 42px;
  width: 42px;
  top: 10px;
  left: 10px;
  color: #fff;
  z-index: 2;
  border: 4px solid #2E89FF;
  border-radius: 100%;
}

.create-story:hover {
  opacity: 0.75;
}
.create-story:hover img {
  transform: scaleX(1.02);
}

.create-story p {
  position: absolute;
  bottom: 5px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.create-story img {
  height: 170px;
  max-width: 140px;
  object-fit: fit;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  z-index: -1;
  
}

.add-story-button {
  color: #fff;
}

.add-story-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  border: 4px solid #242526;
  right: 50px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #2E89FF;
}

.post-section {
  height: 130px;
  width: 100%;
  background-color: #242526;
  border-radius: 12px;
  padding: 0 20px;
}

.user-icon {
  color: #fff;
  margin: 10px 10px 10px 0;
}

.post-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3E4042;
  padding: 15px 0;
}

.input-icon {
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.input-icon:hover {
  filter: brightness(1.4);
}

.input-box {
  height: 40px;
  width: 100%;
  border-radius: 50px;
  background-color: #3A3B3C;
  padding: 0 30px;
  font-size: 20px;
  color: #B0B3B8;
  outline: none;
  border: none;
  text-align: left;
}

.post-buttons-section {
  display: flex;
  justify-content: space-between;
}
.post-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B0B3B8;
  height: 40px;
  width: 100%;
  font-size: 18px;
  margin: 10px 0;
}

.post-button:hover {
  background-color: #3A3B3C;
  border-radius: 12px;
  cursor: pointer;
}

.button {
  margin-right: 5px;
}


.create-room-section {
  height: 60px;
  width: 100%;
  background-color: #242526;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.create-room-button {
  border: 2px solid #263951;
  border-radius: 20px;
  height: 40px;
  width: 180px;
  background-color: transparent;
  font-weight: bold;
  color: #4599FF;
}
.create-room-wrapper {
  display: flex;
}

.newsfeed-posts {
  height: auto;
  max-width: 100%;
  background-color: #242526;
  border-radius: 12px;
}

.newsfeed-posts p {
  color: #fff;
  margin: 0;
  
}

.newsfeed-dot {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.user-name-newsfeed {
  cursor: pointer;
  
}

.user-name-newsfeed:hover {
  text-decoration: underline;
}

.newsfeed-icon {
  cursor: pointer;
  height: 40px;
  border-radius: 100%;
}
.newsfeed-icon:hover {
  filter: brightness(1.4);
}

.newsfeed-content {
  width: 100%;
  height: 600px;
  object-fit: contain;
  background-color: #fff;
  backdrop-filter: blur(5px);
}


.newsfeed-text-wrapper {
  padding: 20px 20px 0 20px;
}

.newsfeed-button-section {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: 1px solid #3E4042;
}

.newsfeed-button-section button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
}

.newsfeed-button-section button:hover {
  background-color: #3A3B3C;
  border-radius: 8px;
}

.comment-section {
  border-top: 1px solid #3E4042;
}


.comment-user-profile {
  color: #fff;
}

.comment-input {
  width: 100%;
  border-radius: 20px;
  padding-left: 20px;
  border: none;
  outline: none;
  background-color: #3A3B3C;
  color: #fff;
}

.create-story-section {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 96.5%;
  background-color: #18191A;
  z-index: 3000;
}

.create-story-left {
  height: 100vh;
  width: 350px;
  background-color: #242526;
  color: #fff;
  position: relative;
  border: 1px solid #3A3B3C;
}
.create-story-left img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.close-story {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.close-story:hover {
  color: #3A3B3C;
}

.create-story-wrapper {
  padding: 20px;
  border-bottom: 1px solid #3A3B3C;
}

.add-story-button-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 400px;
  width: 300px;
  background: #348F50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;

}

.add-story-button-main:hover {
  filter: brightness(1.2);
}

.create-story-add {
  height: 50px;
  width: 50px;
  background-color: #242526;
  border-radius: 100%;
  padding: 10px;
}

.preview-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 80vh;
  width: 600px;
  background-color: #242526;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.preview-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: #fff;
}

.share-story-button {
  position: absolute;
  bottom: 10px;
  left: 15%;
  border: none;
  outline: none;
  width: 70%;
  padding: 5px;
  border-radius: 15px;
  background-color: #2374E1;
  color: #fff;
  font-weight: bold;

}

.see-all-stories-button {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 500;
  color: #3E4042;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  border: 2px solid #fff;
}

.progress-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}